In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import IsolationForest

In [2]:
df = pd.read_csv('cricket scoredataset.csv')
df

    Overs  Score
0       1     15
1       2     10
2       3     17
3       4     10
4       5     12
5       6     20
6       7    100
7       8      8
8       9      8
9      10     11
10     11    100
11     12     14
12     13      3
13     14    100
14     15     11
15     16     13
16     17    100
17     18     16
18     19     26
19     20     30

In [3]:
model=IsolationForest(n_estimators=1000,max_samples='auto',contamination=float(0.2),max_features=1.0)
model.fit(df[['Score']])

IsolationForest(contamination=0.2, n_estimators=1000)

In [4]:
df['scores']=model.decision_function(df[['Score']])
df['anomaly']=model.predict(df[['Score']])
df.head(20)

    Overs  Score    scores  anomaly
0       1     15  0.225682        1
1       2     10  0.243639        1
2       3     17  0.191908        1
3       4     10  0.243639        1
4       5     12  0.238384        1
5       6     20  0.126363        1
6       7    100 -0.010599       -1
7       8      8  0.194431        1
8       9      8  0.194431        1
9      10     11  0.254891        1
10     11    100 -0.010599       -1
11     12     14  0.234379        1
12     13      3  0.002650        1
13     14    100 -0.010599       -1
14     15     11  0.254891        1
15     16     13  0.237337        1
16     17    100 -0.010599       -1
17     18     16  0.216229        1
18     19     26  0.074681        1
19     20     30  0.019786        1

In [5]:
outliers_counter = len(df[df['Score'] > 36])
outliers_counter

4